.minus{
  border-radius: 24px;
  background-color: antiquewhite;
}

.add{
  border-radius: 24px;
  background-color: rgb(158, 122, 76);
}

.counter{
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  height: 100vh;
}